In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Path al archivo
archivo = '/Volumes/SSD_Fermin/TP_ANALITICA/data/2024/2024/082024_pais_mayorista_parte1.csv'

# Cargar el CSV
df = pd.read_csv(archivo)

Dataset cargado exitosamente!

/var/folders/z5/hz8g2_8150x7z4zn9jgm4xjm0000gn/T/ipykernel_4783/767793012.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo)

In [4]:
# Dimensiones del dataset
print("Shape del DataFrame:")
print(df.shape)

Shape del DataFrame:
(501684, 25)

Número de elementos:
12542100

In [5]:
# Información general del DataFrame
print("Información del DataFrame:")
df.info()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501684 entries, 0 to 501683
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_comercio                501684 non-null  int64
 1   id_bandera                 501684 non-null  int64
 2   id_sucursal                501684 non-null  int64
 3   sucursales_provincia       501684 non-null  object
 4   id_producto                501684 non-null  object
 5   precio_uni_iva_20240801    494916 non-null  float64
 6   precio_uni_20240801        494916 non-null  float64
 7   precio_bulto_iva_20240801  494916 non-null  float64
 8   precio_bulto_20240801      494916 non-null  float64
 9   precio_uni_iva_20240802    495538 non-null  float64
 10  precio_uni_20240802        495538 non-null  float64
 11  precio_bulto_iva_20240802  495538 non-null  float64
 12  precio_bulto_20240802      495538 non-null  float64
 13  precio_uni_iva_20240803    496287 non-null  float64
 14  precio_uni_20240803        496287 non-null  float64
 15  precio_bulto_iva_20240803  496287 non-null  float64
 16  precio_bulto_20240803      496287 non-null  float64
 17  precio_uni_iva_20240804    490871 non-null  float64
 18  precio_uni_20240804        490871 non-null  float64
 19  precio_bulto_iva_20240804  490871 non-null  float64
 20  precio_bulto_20240804      490871 non-null  float64
 21  precio_uni_iva_20240805    491747 non-null  float64
 22  precio_uni_20240805        491747 non-null  float64
 23  precio_bulto_iva_20240805  491747 non-null  float64
 24  precio_bulto_20240805      491747 non-null  float64
dtypes: float64(20), int64(3), object(2)
memory usage: 95.7+ MB

In [6]:
# Nombres de las columnas
print("Columnas del DataFrame:")
for i, col in enumerate(df.columns, 1):
    print(f"{i}. {col}")

Columnas del DataFrame:
1. id_comercio
2. id_bandera
3. id_sucursal
4. sucursales_provincia
5. id_producto
6. precio_uni_iva_20240801
7. precio_uni_20240801
8. precio_bulto_iva_20240801
9. precio_bulto_20240801
10. precio_uni_iva_20240802
11. precio_uni_20240802
12. precio_bulto_iva_20240802
13. precio_bulto_20240802
14. precio_uni_iva_20240803
15. precio_uni_20240803
16. precio_bulto_iva_20240803
17. precio_bulto_20240803
18. precio_uni_iva_20240804
19. precio_uni_20240804
20. precio_bulto_iva_20240804
21. precio_bulto_20240804
22. precio_uni_iva_20240805
23. precio_uni_20240805
24. precio_bulto_iva_20240805
25. precio_bulto_20240805

In [7]:
# Estadísticas descriptivas
print("Estadísticas descriptivas:")
df.describe()

Estadísticas descriptivas:

,id_comercio,id_bandera,id_sucursal,precio_uni_iva_20240801,precio_uni_20240801,precio_bulto_iva_20240801,precio_bulto_20240801,precio_uni_iva_20240802,precio_uni_20240802,precio_bulto_iva_20240802,...,precio_bulto_iva_20240803,precio_bulto_20240803,precio_uni_iva_20240804,precio_uni_20240804,precio_bulto_iva_20240804,precio_bulto_20240804,precio_uni_iva_20240805,precio_uni_20240805,precio_bulto_iva_20240805,precio_bulto_20240805
count,501684.000000,501684.0,501684.000000,4.949160e+05,4.949160e+05,4.949160e+05,4.949160e+05,4.955380e+05,4.955380e+05,4.955380e+05,...,4.962870e+05,4.962870e+05,4.908710e+05,4.908710e+05,4.908710e+05,4.908710e+05,4.917470e+05,4.917470e+05,4.917470e+05,4.917470e+05
mean,62.050279,1.0,19.288941,4.640178e+03,3.883470e+03,2.327782e+04,1.933534e+04,4.645588e+03,3.888126e+03,2.330762e+04,...,2.340277e+04,1.943957e+04,4.672548e+03,3.910271e+03,2.368183e+04,1.967183e+04,4.661688e+03,3.901319e+03,2.322053e+04,1.929070e+04
std,1.536861,0.0,24.344339,1.921137e+04,1.650446e+04,4.948724e+04,4.134219e+04,1.920646e+04,1.650029e+04,4.969976e+04,...,4.981484e+04,4.162539e+04,1.929762e+04,1.657797e+04,5.019985e+04,4.194883e+04,1.928961e+04,1.657081e+04,5.006276e+04,4.184736e+04
min,60.000000,1.0,1.000000,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,...,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02
25%,61.000000,1.0,8.000000,1.199870e+03,9.916300e+02,2.152170e+03,1.785120e+03,1.199870e+03,9.916300e+02,2.152170e+03,...,2.157600e+03,1.787630e+03,1.199870e+03,9.916300e+02,2.190210e+03,1.816910e+03,1.198800e+03,9.916300e+02,2.141290e+03,1.774160e+03
50%,61.000000,1.0,15.000000,2.288040e+03,1.922380e+03,7.199220e+03,5.949780e+03,2.298900e+03,1.926870e+03,7.194000e+03,...,7.199560e+03,5.950400e+03,2.310000e+03,1.933790e+03,7.472810e+03,6.198340e+03,2.304340e+03,1.932040e+03,7.027160e+03,5.829080e+03
75%,63.000000,1.0,23.000000,4.600000e+03,3.842970e+03,2.638812e+04,2.181776e+04,4.604990e+03,3.842970e+03,2.638812e+04,...,2.663820e+04,2.201532e+04,4.628775e+03,3.867660e+03,2.687648e+04,2.223966e+04,4.595740e+03,3.833780e+03,2.629499e+04,2.181710e+04
max,70.000000,1.0,396.000000,1.148035e+06,1.038946e+06,1.244022e+06,1.244022e+06,1.148035e+06,1.038946e+06,1.244022e+06,...,1.244022e+06,1.244022e+06,1.148035e+06,1.038946e+06,1.244022e+06,1.244022e+06,1.148035e+06,1.038946e+06,1.244022e+06,1.244022e+06

In [8]:
# Valores nulos por columna
print("Valores nulos por columna:")
nulos = df.isnull().sum()
porcentaje_nulos = (nulos / len(df)) * 100
pd.DataFrame({
    'Valores Nulos': nulos,
    'Porcentaje Nulos': porcentaje_nulos
}).sort_values('Valores Nulos', ascending=False)

Valores nulos por columna:

                           Valores Nulos  Porcentaje Nulos
precio_bulto_20240804              10813          2.155341
precio_uni_iva_20240804            10813          2.155341
precio_uni_20240804                10813          2.155341
precio_bulto_iva_20240804          10813          2.155341
precio_bulto_20240805               9937          1.980729
precio_uni_iva_20240805             9937          1.980729
precio_uni_20240805                 9937          1.980729
precio_bulto_iva_20240805           9937          1.980729
precio_bulto_20240801               6768          1.349056
precio_bulto_iva_20240801           6768          1.349056
precio_uni_iva_20240801             6768          1.349056
precio_uni_20240801                 6768          1.349056
precio_bulto_20240802               6146          1.225074
precio_uni_20240802                 6146          1.225074
precio_bulto_iva_20240802           6146          1.225074
precio_uni_iva_20240802             6146          1.225074
precio_bulto_20240803               5397          1.075777
precio_uni_20240803                 5397          1.075777
precio_bulto_iva_20240803           5397          1.075777
precio_uni_iva_20240803             5397          1.075777
id_bandera                             0          0.000000
id_comercio                            0          0.000000
id_sucursal                            0          0.000000
sucursales_provincia                   0          0.000000
id_producto                            0          0.000000

In [9]:
# Primeras filas
print("Primeras 5 filas:")
df.head()

Primeras 5 filas:

,id_comercio,id_bandera,id_sucursal,sucursales_provincia,id_producto,precio_uni_iva_20240801,precio_uni_20240801,precio_bulto_iva_20240801,precio_bulto_20240801,precio_uni_iva_20240802,...,precio_bulto_iva_20240803,precio_bulto_20240803,precio_uni_iva_20240804,precio_uni_20240804,precio_bulto_iva_20240804,precio_bulto_20240804,precio_uni_iva_20240805,precio_uni_20240805,precio_bulto_iva_20240805,precio_bulto_20240805
0,60,1,1,AR-B,7790580160807,4115.00,3400.83,49380.00,40809.96,4115.00,...,49380.00,40809.96,4115.00,3400.83,49380.00,40809.96,4115.00,3400.83,49380.00,40809.96
1,60,1,1,AR-B,7790580982102,794.99,657.02,19079.76,15768.48,794.99,...,19079.76,15768.48,794.99,657.02,19079.76,15768.48,794.99,657.02,19079.76,15768.48
2,60,1,1,AR-B,7792878000017,999.00,825.62,9990.00,8256.20,999.00,...,9990.00,8256.20,999.00,825.62,9990.00,8256.20,999.00,825.62,9990.00,8256.20
3,60,1,1,AR-B,7622201464882,785.00,648.76,15700.00,12975.20,785.00,...,15700.00,12975.20,785.00,648.76,15700.00,12975.20,785.00,648.76,15700.00,12975.20
4,60,1,1,AR-B,7790070936479,3889.00,3214.05,46668.00,38568.60,3889.00,...,46668.00,38568.60,3889.00,3214.05,46668.00,38568.60,3889.00,3214.05,46668.00,38568.60

In [10]:
# Últimas filas
print("Últimas 5 filas:")
df.tail()

Últimas 5 filas:

,id_comercio,id_bandera,id_sucursal,sucursales_provincia,id_producto,precio_uni_iva_20240801,precio_uni_20240801,precio_bulto_iva_20240801,precio_bulto_20240801,precio_uni_iva_20240802,...,precio_bulto_iva_20240803,precio_bulto_20240803,precio_uni_iva_20240804,precio_uni_20240804,precio_bulto_iva_20240804,precio_bulto_20240804,precio_uni_iva_20240805,precio_uni_20240805,precio_bulto_iva_20240805,precio_bulto_20240805
501679,70,1,4,AR-E,7797376000187,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1320.0,1090.91,1320.0,1090.91
501680,70,1,4,AR-E,7791540047862,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3400.0,2809.92,3400.0,2809.92
501681,70,1,4,AR-E,7798074860264,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3620.0,2991.74,3620.0,2991.74
501682,70,1,1,AR-E,7798001560588,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,355.0,293.39,355.0,293.39
501683,70,1,1,AR-E,7798001560311,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1265.0,1045.45,1265.0,1045.45

In [11]:
# Tipos de datos por columna
print("Tipos de datos por columna:")
df.dtypes

Tipos de datos por columna:

id_comercio                    int64
id_bandera                     int64
id_sucursal                    int64
sucursales_provincia          object
id_producto                   object
precio_uni_iva_20240801      float64
precio_uni_20240801          float64
precio_bulto_iva_20240801    float64
precio_bulto_20240801        float64
precio_uni_iva_20240802      float64
precio_uni_20240802          float64
precio_bulto_iva_20240802    float64
precio_bulto_20240802        float64
precio_uni_iva_20240803      float64
precio_uni_20240803          float64
precio_bulto_iva_20240803    float64
precio_bulto_20240803        float64
precio_uni_iva_20240804      float64
precio_uni_20240804          float64
precio_bulto_iva_20240804    float64
precio_bulto_20240804        float64
precio_uni_iva_20240805      float64
precio_uni_20240805          float64
precio_bulto_iva_20240805    float64
precio_bulto_20240805        float64
dtype: object

In [12]:
# Valores únicos por columna
print("Número de valores únicos por columna:")
df.nunique()

Número de valores únicos por columna:

id_comercio                      7
id_bandera                       1
id_sucursal                    110
sucursales_provincia            23
id_producto                  31427
precio_uni_iva_20240801      22044
precio_uni_20240801          22393
precio_bulto_iva_20240801    25561
precio_bulto_20240801        26580
precio_uni_iva_20240802      22083
precio_uni_20240802          22426
precio_bulto_iva_20240802    25624
precio_bulto_20240802        26633
precio_uni_iva_20240803      22078
precio_uni_20240803          22414
precio_bulto_iva_20240803    25632
precio_bulto_20240803        26628
precio_uni_iva_20240804      20920
precio_uni_20240804          21283
precio_bulto_iva_20240804    24561
precio_bulto_20240804        25494
precio_uni_iva_20240805      22190
precio_uni_20240805          22502
precio_bulto_iva_20240805    25858
precio_bulto_20240805        26843
dtype: int64

In [13]:
# Uso de memoria
def get_size(df):
    return f"{df.memory_usage(deep=True).sum() / 1024**2:.2f} MB"

print(f"Memoria total utilizada por el DataFrame: {get_size(df)}")

# Memoria por columna
memoria_columnas = df.memory_usage(deep=True)
print("\nMemoria utilizada por columna:")
for col, memoria in memoria_columnas.items():
    print(f"{col}: {memoria/1024**2:.2f} MB")

Memoria total utilizada por el DataFrame: 138.24 MB

Memoria utilizada por columna:
Index: 0.00 MB
id_comercio: 3.83 MB
id_bandera: 3.83 MB
id_sucursal: 3.83 MB
sucursales_provincia: 25.36 MB
id_producto: 24.85 MB
precio_uni_iva_20240801: 3.83 MB
precio_uni_20240801: 3.83 MB
precio_bulto_iva_20240801: 3.83 MB
precio_bulto_20240801: 3.83 MB
precio_uni_iva_20240802: 3.83 MB
precio_uni_20240802: 3.83 MB
precio_bulto_iva_20240802: 3.83 MB
precio_bulto_20240802: 3.83 MB
precio_uni_iva_20240803: 3.83 MB
precio_uni_20240803: 3.83 MB
precio_bulto_iva_20240803: 3.83 MB
precio_bulto_20240803: 3.83 MB
precio_uni_iva_20240804: 3.83 MB
precio_uni_20240804: 3.83 MB
precio_bulto_iva_20240804: 3.83 MB
precio_bulto_20240804: 3.83 MB
precio_uni_iva_20240805: 3.83 MB
precio_uni_20240805: 3.83 MB
precio_bulto_iva_20240805: 3.83 MB
precio_bulto_20240805: 3.83 MB